config.env
__pycache__/*
Ironx.db
Ironx.session
Ironx.session-journal
Ironx/__pycache__/*
Ironx/modules/__pycache__/*
Ironx/modules/sql_helper/__pycache__/*
.progress
/*.mp4
/*.jpg
/*.png
.vscode/*
bin/*
TG_BOT_TOKEN.session
*.mp3
*.mp4
*.webm
*.mkv
